<form method="post" action="{{ path('app_intervention_delete', {'idint': intervention.idint}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intervention.idint) }}">
    <button class="btn">Delete</button>
</form>
